:root { 
--darkbg: linear-gradient(315deg, #07145a 0%, #040328 64%);
--darkfont: #f9f9f9;
--lightbg: #fafafa;
--lightfont: #000000;
--lightblur: #6d7383;
--darkblur: #f9f9f9;
--main: #00bcf9;
--darkborder: #040328;
--lightborder: #fafafa;
--lbg: #fafafa;
--dbg: #07145a;
--lcbg: #fff;
--dcbg: transparent;
--darkcardbg: rgba(255,255,255,0.1);
--lightcardbg: rgba(0,0,0,0.06);
--laccbg: rgba(0,0,0,0.03);
--daccbg: rgba(255,255,255,0.05);
--dpfont: #d6d6d6;
--lpfont: #4b4b4b;
--lac: #fff;
--dac: #000;
}
.light-theme { 
--bg: var(--lightbg); 
--font: var(--lightfont); 
--blur: var(--lightblur);
--border: var(--lightborder);
--secbg: var(--lbg);
--cbg: var(--lcbg);
--cardbg: var(--lightcardbg);
--pfont: var(--lpfont);
--accbg: var(--laccbg);
--ac: var(--lac);
}
.dark-theme { 
--bg: var(--darkbg); 
--font: var(--darkfont); 
--blur: var(--darkblur);
--border: var(--darkborder);
--secbg: var(--dbg);
--cbg: var(--dcbg);
--cardbg: var(--darkcardbg);
--pfont: var(--dpfont);
--accbg: var(--daccbg);
--ac: var(--dac);
}

* > *:not(.gw-icon){
font-family: Arial !important;
}

img{
pointer-events: none;
}

html, body { 
height: 100% !important; 
scroll-behavior: smooth;
}

body{
width: 100vw;
overflow-x: hidden;
margin: 0;
padding: 0;
background: var(--bg);
background-size: 100vw 130vh;
background-repeat: no-repeat;
background-attachment: fixed;
user-select: none;
}

.body > *:not(#nav) { 
filter: blur(3px); 
}

.body-attr > *:not(#attr){
filter: blur(6px);
}


.display > *:not(.loader){
visibility: hidden;
}

.active{
background: #fff;
color: #f9005c !important;
}

#top-button{
width: 45px;
height: 45px;
background: #f9005c;
color: #fff;
font-size: 33px;
font-weight: 900 !important;
display:none;align-items:center;justify-content:center; 
position: fixed;
right: 10px;
bottom: 12px;
border-radius: 100%;
box-shadow: 0px 1px 5px 0px #b0b0a1;
border: 1px solid #b0b0a1;
z-index: 999;
transition: all 0.5s;
}

#attribute{
width: 45px;
height: 45px;
background: var(--font);
color: var(--ac);
font-size: 33px;
font-weight: 900 !important;
display:none;align-items:center;justify-content:center; 
position: fixed;
right: 10px;
bottom: 70px;
border-radius: 100%;
box-shadow: 0px 1px 5px 0px #b0b0a1;
border: 1px solid #b0b0a1;
z-index: 999;
transition: all 0.5s;	
}





/*CSS for loading section */

.loader{
width: 100vw;
height: 100%;
position: fixed;
z-index: 9999999999999999999;
touch-action: none;
background: var(--bg);
display: none;
}

.load-none{
position: absolute !important;
transform: translateY(-50%);
bottom: 50%;
transition: all 1s;
}

#load-icon{
width: 100px;
height: 100px;
background: #f9005c;
color: #fff;
padding: 10px;
border-radius: 100%;
position: relative;
transform: translate(-50%,-50%);
left: 50%;
top: 45%;
display:flex;align-items:center;justify-content:center; 
font-size: 80px;
border: 7px double var(--border);
transition: all 0.5s;
}

#load-icon:hover{
font-size: 90px;
}

#load-div{
width: 125px;
position: absolute;
bottom: 5%;
transform: translateX(-50%);
left: 50%;
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
}

#load-div h2{
font-weight: 401;
opacity: 0.9;
font-size: 19px;
color: var(--font);
margin:0px 0px 10px 0px;
}

#load-div h2 span{
font-size: 18px;
}

#load{
width: 125px;
background: #f9005c;
height: 8px;
border-radius: 5px;
align-self: flex-start;
justify-self: start;
position: absolute;
left: 0;
margin-top: 40px;
animation: load 11s ease-in-out 1;
}

@keyframes load{
0%{
width: 0px;
}				
100%{
width: 125px;
}
}





#cover{
width: 100%;
height: 30px;
position: fixed;
z-index: 9999;
top: 0px;
backdrop-filter: blur(5px); 
}






/*CSS for navbar section */

#nav{
width: 83%;
background: #f9005c;
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
margin:10px auto 0px auto;
left: 50%;
transform: translateX(-50%);
padding:0px 20px 0px 20px;
overflow: hidden;
height: 60px;
border-radius: 20px;
position: fixed;
z-index: 99999;
top: 10px;
transition: all 0.3s;
}

#nav-one{
display:flex;align-items:center;justify-content: space-between; 
width: 100%;
height:60px;
padding: 0px 20px;
position: absolute;
top: 0;
z-index: 99;
background: #f9005c;
border-bottom:0.1px solid #fff;
}

#nav-one div{
display:flex;align-items:center;justify-content:center; 
}

#nav-one div h3{
color: #fff;
}

#nav-one div span{
margin:0px 5px 0px 20px;
}

#nav-one span{
color: #fff;
font-size: 28px;
margin-right: 20px;
}

#nav-one img{
width: 30px;
}

#nav-two{
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
width: 100%;
margin-top: 4.5rem;
position: absolute;
font-size: 16px;
z-index: 1;
}

#nav-two a{
color: #fff;
text-decoration: none;
align-self: flex-start;
position: relative;
margin-top: 0.5rem;
margin-left: 25px;
opacity: 0.93;
border-radius: 6px;
margin-bottom: 0;
padding: 6px 10px;
display: block;
transition: background 0.3s;
}

#nav-two a:hover{
background: #fff;
color: #f9005c;
}

#select{
width:100%;
display:flex;align-items:center;justify-content:flex-start; 
margin-bottom: 10px;
padding-left: 70px;
margin-top: 10px !important;
color: #fff;
}

#select h4{
font-weight: 500;
}

#switch{
width: 50px;
font-size: 23px;
background: #fff;
color: #f9005c;
display:flex;align-items:center;justify-content:flex-start; 
margin-left: 10px;
border-radius: 50px;
}

#switcher{
transition: all 0.3s;
margin: 0;
padding: 0;
}





@media(min-width:768px){
#nav-one{
width: 10%;
}
#menu{
display: none;
}
#nav-two{
display:flex;align-items:center;justify-content:center; flex-direction: row;
margin-top: 0px;
margin-left: 1.8rem;
width: 90%;
height: 60px;
}
#nav-two a{
margin-left: 0.8rem;
opacity: 1;
border-radius: 6px;
margin-bottom: 0;
margin-top: 15px;
padding: 6px 10px;
display: block;
}
#nav{
width: 90%;
height: 60px;
justify-content: space-between;
flex-direction: row;
}

#select{
right: 10px;
position: absolute;
width: auto;
margin-bottom: 0px;
margin-top: 0px !important;
}
#select h4{
font-weight: 400;
}
#switch{
font-size: 24px;
}
}

@media(min-width:768px) and (max-width:900px){
#nav-two a{
margin-left: 0rem;
transform: scale(0.8);		
}				
}

@media(min-width:768px) and (max-width:800px){
#nav-two{
margin-left: 0.5rem;
}
#nav-two a{
margin-left: -0.2rem;
transform: scale(0.8);
}				
}
/* navbar CSS ended */















/*CSS for banner section */

#banner{
width: 100%;
height: 100vh;
display:flex;
align-items: stretch;
justify-content:center; 
flex-direction: column;
padding-top: 1rem;
position: relative;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
background-size: 100% 100%;
}


#row{
width: 100%;	
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
}
#col1{
width: 100%;
display:flex;align-items:center;justify-content:center; 
padding-top: 3rem;
}
#col1 img{
width: 75%;
animation:float 5s ease-in-out infinite;
}

@keyframes float{
0%{
	 transform:translateY(0px);
}
50%{
	 transform:translateY(-20px);
}
100%{
	 transform:translateY(0px);
}
}

#col2{
width: 100%;
}
#col2 h1{
font-size: 35px;
word-break: break-all;
font-weight: 900;
color: #f9005c;
margin: 0;
padding-left: 25px;
padding-top: 40px;
}
#col2 h1 span{
color: var(--font);			
}
#col2 h2{
color: var(--font);
font-size: 16px;
margin-top: 10px;
padding-left: 25px;
padding-right: 50px;
opacity: 0.8;
line-height: 23px;
font-weight: 400;
}
#col2 button{
margin-left: 23px;
margin-top: 15px;
background: #f9005c;
color: #fff;
font-weight: 401;
border: 5px double var(--border);
border-radius: 40px;
font-size: 15px;
width: 150px;
height: 48px;
transition: all 0.5s;
display:flex;align-items:center;justify-content:center; 
}
#col2 button:hover{
font-size: 16.5px;
}





@media(min-width:768px){
#banner{
padding-top: 3.5rem;
}
#row{
flex-direction: row-reverse;
width: 95%;
}			
#col1{
padding-top: 0rem;
}
#col2{
padding-left: 1rem;
}
#col2 h1{
padding-top: 0px;
padding-left: 65px;
}
#col2 h2{
padding-left: 65px;
}
#col2 button{
margin-left: 60px;
}
}













/* CSS for counting section */

#count{
width: 100%;	
margin:0px 0px 1rem 0px;
}

#counter{
width: 90%;
display:flex;align-items:center;justify-content: space-around; 
flex-wrap: wrap;
margin: 0 auto;
}

#count1{
width: auto;
color: var(--font);
display:flex;align-items:center;justify-content: space-around; 
padding: 10px 15px;
border-radius: 5px;
margin-top: 1rem;
background: var(--bg);
}
#count1 div{
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
}
#count1 span{
font-size:50px;
color: #f9005c;
margin-right: 12px;
}
#count1 h2,h4{
margin: 0;
padding: 0;
}
#count1 h2{
font-size: 18px;
}
#count1 h4{
opacity: 0.7;
font-size: 14px;
font-weight: 401;
}





#count2{
width: auto;
color: var(--font);
display:flex;align-items:center;justify-content: space-around; 
padding: 10px;
border-radius: 5px;
margin-top: 1rem;
background: var(--bg);
}
#count2 div{
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
}
#count2 span{
font-size:50px;
color: #f9005c;
margin-right: 12px;
}
#count2 h2,h4{
margin: 0;
padding: 0;
}
#count2 h2{
font-size: 18px;
}
#count2 h4{
opacity: 0.7;
font-size: 14px;
font-weight: 401;
}









#count3{
width: auto;
color: var(--font);
display:flex;align-items:center;justify-content: space-around; 
padding: 10px 12.5px;
border-radius: 5px;
margin-top: 1rem;
background: var(--bg);
}
#count3 div{
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
}
#count3 span{
font-size:50px;
color: #f9005c;
margin-right: 12px;
}
#count3 h2,h4{
margin: 0;
padding: 0;
}
#count3 h2{
font-size: 18px;
}
#count3 h4{
opacity: 0.7;
font-size: 14px;
font-weight: 401;
}



.num{
font-size: 18px !important;
color: var(--font) !important;	
}






#count4{
width: auto;
color: var(--font);
display:flex;align-items:center;justify-content: space-around; 
padding: 10px 16px;
border-radius: 5px;
margin-top: 1rem;
background: var(--bg);
}
#count4 div{
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
}
#count4 span{
font-size:50px;
color: #f9005c;
margin-right: 12px;
}
#count4 h2,h4{
margin: 0;
padding: 0;
}
#count4 h2{
font-size: 18px;
}
#count4 h4{
opacity: 0.7;
font-size: 14px;
font-weight: 401;
}



#count1,#count2,#count3,#count4{
background: var(--cbg);
box-shadow: 0px 0.5px 1.5px #afafaf;
}
@media(max-width:768px){
#counter{
transform: scale(0.9);
}				
}

@media(min-width:768px){
#counter{
width: 70%;
}			
}








/* courses section CSS*/
#course{
width: 100%;
flex-direction: column;
padding-top: 7rem;
margin-top: 5rem;
}
#course-head{
width: 100%;
display:flex;
align-items:center;
justify-content:center; 
flex-direction: column;
}

#course-head h2{
color: #f9005c;
font-size: 34px;
margin: 0;
}
#course-head h2 span{
color: var(--font);
margin-right: 0.4rem;
}
#course-head h4{
width: 60%;
text-align: center;
color: var(--font);
font-size: 18px;
font-family: cursive !important;
margin: 3px 0px 0px 0px;
}


/* 
border-bottom: 6px double var(--font);
padding-bottom: 1rem; 
*/



#card{
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
padding: 8px 0px;
background: var(--cardbg);
color: var(--font);
border-radius: 6px;
text-align: center;
width: 100%;
}
#card img{
width: 60%;
}
#card h3{
margin-bottom: 0;
font-size: 19px;
}
#card p{
font-weight: 400;
padding: 0px 18px;
opacity: 0.7;
line-height: 24px;
font-size: 15.5px;
}
.card-margin img{
margin-bottom: 2.33rem;
margin-top: 2.33rem;
}


@media(min-width:768px){
#card p{
padding: 0px 20px;
line-height: 23px;
font-size: 14px;
}
.card-margin img{
margin-bottom: 1.3rem;
margin-top: 1.3rem;
}
}

@media(min-width:850px){
.card-margin img{
margin-bottom: 1.6rem;
margin-top: 1.6rem;
}				
}


@media(min-width:900px){
.card-margin img{
margin-bottom: 1.7rem;
margin-top: 1.7rem;
}						
}


@media(min-width:1100px){
.card-margin img{
margin-bottom: 1.8rem;
margin-top: 1.8rem;
}						
}






/*CSS for teacher section */
#teacher{
width: 100%;
flex-direction: column;
padding-top: 7rem;
margin-top: 5rem;
}
#teacher-head{
width: 100%;
display:flex;
align-items:center;
justify-content:center; 
flex-direction: column;
}

#teacher-head h2{
color: #f9005c;
font-size: 34px;
margin: 0;
}
#teacher-head h2 span{
color: var(--font);
margin-right: 0.4rem;
}
#teacher-head h4{
width: 60%;
text-align: center;
color: var(--font);
font-size: 18px;
font-family: cursive !important;
margin: 3px 0px 0px 0px;
}





#t-card{
background: var(--bg);
box-shadow: 0px 1px 5px 0px #b0b0a1;
color: var(--font);
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
padding:15px 10px 10px 10px;
border-radius: 6px;
width: 80%;
}

#t-card img{
width: 90%;
filter: grayscale(100%);
border-radius: 6px;
border: 2px solid #f9005c;
}

#t-card h3{
margin-top: 12px;
margin-bottom: 0px;
font-size: 22px;
color: #f9005c;
}

#t-card p{
margin-top: 4px;
margin-bottom: 0px;
font-size: 15px;
}

#t-card-icons{
margin-top: 14px;
}

#t-card-icons span{
margin-right: 5px;
color: var(--font);
font-size: 20px;
transition: all 0.2s;
}

#t-card-icons span:hover{
color: #f9005c;
font-size: 22px;
}



@media(min-width:768px){
#t-card h3{
margin-top: 12px;
margin-bottom: 0px;
font-size: 15px;
color: #f9005c;
}				
#t-card p{
margin-top: 4px;
margin-bottom: 0px;
font-size: 10px;
}
}





/* CSS for initialize SWIPER.JS */
.swiper { width: 100%; height: 100%;margin-top: 5rem;}
.swiper-pagination{
margin-top: 1rem;
}
.swiper-slide { text-align: center; font-size: 18px; background: transparent;
/* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; }

.swiper-slide { width: 90% !important;}
.teach-slide{
width: 85% !important;
padding: 10px 0px !important;
}


.swiper-button-next{
right: 5px !important;
}

.swiper-button-prev{
left: 5px !important;
}

@media(min-width:768px){
.swiper{
width: 85% !important;
}
.swiper-slide { width: 30% !important;}				
}
.swiper-pagination-bullet{ background-color: #bebebe !important;
opacity: 1 !important;
}
.swiper-pagination-bullet-active{
background: #f9005c !important;
}


@media(min-width:768px){
.teach-swiper{
padding: 0px 20px !important;
}				

.swiper-button-next{
right: 0px !important;
}

.swiper-button-prev{
left: 0px !important;
}
}















/*CSS for FAQ's section */
#faq{
width: 100%;
flex-direction: column;
padding-top: 7rem;
margin-top: 5rem;
}
#faq-head{
width: 100%;
display:flex;
align-items:center;
justify-content:center; 
flex-direction: column;
}

#faq-head h2{
color: #f9005c;
font-size: 34px;
margin: 0;
}
#faq-head h2 span{
color: var(--font);
margin-right: 0.4rem;
}
#faq-head h4{
width: 60%;
text-align: center;
color: var(--font);
font-size: 18px;
font-family: cursive !important;
margin: 3px 0px 0px 0px;
}



#acc-row{
display:flex;justify-content:space-between;
align-items: center;
flex-direction: column;
width: 100%;
margin:4rem auto 0px auto;
}
#acc-row svg{
width: 80%;
}



#acc{
box-shadow: 0px 1px 5px 0px #b0b0a1;
color: var(--font);
width: 88%;
border-radius: 8px;
display:flex;align-items:center;justify-content:center; 
height: 100%;
margin-top: 2rem;
flex-direction: column;
background: var(--accbg);
padding: 2px;
}



#acc-one{
width: 100%;	
height: 50px;
overflow: hidden;
}

#acc-one-div{
height: 50px;
display:flex;align-items:center;justify-content: space-between; 
padding: 0px 12px;
transition: all 1s;
background: var(--bg);
}

#acc h1{
color: #f9005c;
}

#acc h2{
font-weight: 500;
font-size: 15px;
}
#acc p{
padding: 0px 12px 0px 12px;
font-weight: 400;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.1px;
color: var(--pfont);
}

.acc-high{
font-weight: 600;
font-size: 15.5px;
margin-right: 10px;
color: var(--font);
}



#acc-two{
width: 100%;	
height: 50px;
overflow: hidden;
}
#acc-three{
width: 100%;	
height: 50px;
overflow: hidden;
}
#acc-four{
width: 100%;	
height: 50px;
overflow: hidden;
}
#acc-five{
width: 100%;	
height: 50px;
overflow: hidden;
}



#one-rot{
transition: all 0.3s;
}
#two-rot{
transition: all 0.3s;
}
#three-rot{
transition: all 0.3s;
}
#four-rot{
transition: all 0.3s;
}
#five-rot{
transition: all 0.3s;
}








@media(min-width:768px){
#acc{
width: 50%;
margin-top: 5rem;
}		
#acc-row{
align-items: flex-start;
flex-direction: row-reverse;
width: 90%;
padding: 0px 20px;
margin-top: 2rem;
}		
#acc-row svg{
width: 40%;
}
}









.acc-ani{
animation: height 0.2s linear 1;	
animation-fill-mode: forwards;
}

.acc-ani2{
animation: null 0.2s linear 1;	
animation-fill-mode: forwards;	
}

@media(min-width:768px){
.acc-ani{
animation: bheight 0.2s linear 1;	
animation-fill-mode: forwards;
}

.acc-ani2{
animation: bnull 0.2s linear 1;	
animation-fill-mode: forwards;	
}				
}

@keyframes height{
0%{
height: 50px;
}	
100%{
height: 150px;
}	
}
@keyframes null{
0%{
height: 150px;
}	
100%{
height: 50px;
}			
}


@keyframes bheight{
0%{
height: 50px;
}	
100%{
height: 130px;
}	
}
@keyframes bnull{
0%{
height: 130px;
}	
100%{
height: 50px;
}			
}








#freepik--big-question-mark--inject-5{
animation:spin 3s ease-in-out infinite;
animation-fill-mode: forwards;
}
@keyframes spin{
0%{
transform: translateX(0);
}
50%{
transform: translateY(-30px);
}			
100%{
transform: translateX(0);
}
}














/* CSS for contact section */
#contact{
width: 100%;
flex-direction: column;
padding-top: 7rem;
margin-top: 5rem;
}
#con-head{
width: 100%;
display:flex;
align-items:center;
justify-content:center; 
flex-direction: column;
}

#con-head h2{
color: #f9005c;
font-size: 34px;
margin: 0;
}
#con-head h2 span{
color: var(--font);
margin-right: 0.4rem;
}
#con-head h4{
width: 60%;
text-align: center;
color: var(--font);
font-size: 18px;
font-family: cursive !important;
margin: 3px 0px 0px 0px;
}






#con-row{
width: 100%;
display:flex;align-items:center;justify-content:center; 
margin-top: 3rem;
flex-direction: column;
}

#con-row img{
width: 80%;
}

#con-form{
width: 85%;
box-shadow: 0px 1px 5px 0px #b0b0a1;
border-radius: 6px;
padding: 10px;
color: var(--font);
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
margin-top: 2rem;
}
#con-form form{
width: 100%;
display:flex;align-items:center;justify-content:center; 
flex-direction: column;
padding: 0;
margin: 0;
}

#con-form form input{
width: 88%;
height: 50px;
margin: 7px;
color: var(--font);
padding: 0px 12px;
border-radius: 6px;
outline: none;
border: none;
background: var(--cardbg);
}

#con-form form select{
width: 95%;
height: 50px;
margin: 7px;
color: var(--font);
padding: 0px 12px;
border-radius: 6px;
outline: none;
border: none;
background: var(--cardbg);
}

#sub-div{
width: 90%;
display:flex;align-items:center;justify-content: space-around; 
margin-top: 10px;
}

input[type="submit"]{
width: 50% !important;
height: 45px;
color: #fff !important;
padding: 0px 12px;
border-radius: 6px;
outline: none;
border: none;
align-self: flex-start;
background: #f9005c !important;
font-size: 16px;
font-weight: 500;
}

input[type="reset"]{
width: 50% !important;
height: 45px;
color: #fff !important;
padding: 0px 12px;
border-radius: 6px;
outline: none;
border: none;
align-self: flex-end;
background: #f9005c !important;
font-size: 16px;
font-weight: 500;
}

::placeholder{
color: var(--font);
opacity: 0.8;
}



@media(min-width:768px){
#con-row{
width: 97%;
flex-direction: row;
justify-content: space-around;
margin-top: 5rem;
}		
#con-row img{
width: 40%;
}
#con-form{
width: 38%;
padding: 10px 15px;
margin-top: 0;
}
#con-form form select{
width: 93.5%;
height: 40px;
}
#con-form form input{
height: 40px;
}
}








/* CSS for footer */
#footer{
width: 100%;
margin-top: 8rem;
}


footer{
  background: #f9005c;
  padding: 0.7rem;
  text-align: center; 
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

footer{
  color: var(--font);
}

.footer__container {
  background: var(--bg);
  padding: 0rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

#footer__logo {
  color: var(--font);
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  color: var(--font);
}

.footer__link--items a {
  color: var(--font);
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;
}

.footer__link--items a:hover {
  color: #f9005c;
  transition: 0.3 ease-out;
}

.social__icon--link {
  color: var(--font);
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 30px auto 0 auto;
}

.website__rights {
  color: var(--font);
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 0.3rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
    margin-top: 50px;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

@media(min-width:768px){
footer{
padding: 1rem;
}				
}






#attr{
width: 350px;
border-radius: 8px;
background: var(--font);
position: fixed;
transform: translate(-50%,50%);
left: 50%;
bottom: 500%;
display:flex;align-items:center;justify-content:space-between; 
padding: 20px 14px 0px 14px;
flex-direction: column;
transition: all 0.5s;
}

#attr h1{
position: absolute;
top: -10px;
color: var(--ac);
right: 18px;
}

#attr h2{
color: var(--ac);
margin: 0 0 2.5rem 0;
}

#attr-div{
display:flex;align-items:center;justify-content:space-between; 
color: var(--font);
width: 93%;
margin-bottom: 1rem;
background: #777777;
padding: 10px;
border-radius: 8px;
}

#attr-div img{
width: 46px;
border-radius: 100%;
margin-right: 1.2rem;
}

#attr-div h3{
font-size: 18px;
margin: 0;
opacity: 0.8;
}

#attr-div p{
font-size: 15px;
opacity: 0.7;
margin: 8px 0 0 0;
}


@media(max-width:430px){
#attr{
width: 300px;			
}				
}
@media(max-width:348px){
#attr{
width: 270px;			
}				
}

